[Unit]
Description=Configures the input sensitivity and acceleration of various touch input devices

[Service]
ExecStart=/usr/bin/env bash %h/bin/inputConfig.sh

[Install]
WantedBy=default.target

[Service]
Type=oneshot
